<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>App Name:&nbsp;</strong> WeatherApp
          </ion-item>
          <ion-item>
            <strong>Version:&nbsp;</strong> 1.0.0
          </ion-item>
          <ion-item>
            <strong>Description:&nbsp;</strong> Weather app
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
