<ion-header>
  <ion-toolbar>
    <ion-title>
      WeatherApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid *ngIf="results">
    <ion-row>
      <ion-col>
        <h1 class="location">{{ results.name }}, {{results.sys.country}}</h1>
        <div class="icon"><img src="http://openweathermap.org/img/w/{{results.weather[0].icon}}.png" alt="{{results.weather[0].description}}"></div>
        <h3 class="desc">{{results.weather[0].main}}</h3>
        <h1 class="temperature">{{ results.main.temp }}°</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <strong>Relative Humidity:&nbsp;</strong> {{results.main.humidity}}%
          </ion-item>
          <ion-item>
            <strong>Pressure:&nbsp;</strong> {{results.main.pressure}}&nbsp;mb
          </ion-item>
          <ion-item>
            <strong>Max Temp:&nbsp;</strong> {{results.main.temp_max}}°&nbsp;C
          </ion-item>
          <ion-item>
            <strong>Min Temp:&nbsp;</strong> {{results.main.temp_min}}°&nbsp;C
          </ion-item>
          <ion-item>
            <strong>Wind Speed:&nbsp;</strong> {{results.wind.speed}}&nbsp;m/s
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
