<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <form (ngSubmit)="saveForm()">
            <ion-item>
              <ion-label position="fixed">
                City
              </ion-label>
              <ion-input [(ngModel)]="city" name="city" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">
                Country
              </ion-label>
              <ion-input [(ngModel)]="country" name="country" type="text"></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block">Save Changes</ion-button>
        </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
